*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    background-color: #505562;
    color: #fff;
}
.container{
    width: 500px;
    margin: 20px auto;
}
.header{
    background-color: #2d2d37;
    text-align: center;
    padding: 1.75rem;
}
.header h1{
    font-size: 2.25rem;
}
.bicara{
    background-color: #00b386;
    color: #fff;
    padding: 1rem;
    font-size: 1.2rem;
    font-weight: bold;
    border: none;
    border-top: 3px solid #222;
    outline: none;
    width: 100%;
    cursor: pointer;
    transition: background-color 0.25s;
}